<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<body>
    <h1>111</h1>
    <ul>
        <%list.forEach(item=>{%>
        <li>
            <span><%=item.name%></span>
            <span><%=item.num%></span>
        </li>
        <%})%>
    </ul>
</body>

</html>